.three-images{
    justify-content: space-between;
    justify-content: space-around;
    display: flex;
    
    
}
.img1:hover{
    transform: scale(1.2);
    transition: ease .5s;
    
}
.img2:hover{
    transform: scale(1.2);
    transition: ease .5s;
}
.img3:hover{
    transform: scale(1.2);
    transition: ease .5s;
}
